
.productGallery {
    &__heading {
        text-align: center;
        font-size: 20px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    &__item {
        margin: 20px;
    }
}