
.header {
    &__text {
        text-align: center;
    }
    
    &__menu {
        display: flex;
        // justify-content: space-around;

        a {
            text-decoration: none;
            color: inherit;
            // font-weight: bold;
            font-size: 20px;
            padding: 10px 20px;
            border-left: 1px solid grey;
            transition: 0.2s ease-in-out;
            border-radius: 5px;

            &:first-child {
                margin-left: 20px;
            }

            &:hover {
                text-decoration: underline;
                border-left-width: 3px;
                padding-left: 27px;
                padding-right: 30px;
                font-weight: bold;
                background-color: rgba(0, 0, 0, 0.03);
            }
        }
    }
}